<div class="col-md-3 col-sm-6">
    <img src="{{ site.url }}{{ product.image }}" alt="{{ product.name }}">
    <div class="text">
        <a>
          <span>{{ product.name }}</span>
        </a>
        <p>
            {{ product.price }} €
        </p>
        <button class="snipcart-add-item"
          data-item-name="{{ product.name }}"
          data-item-id="{{ product.sku }}"
          data-item-image="{{ site.url }}{{ product.image }}"
          data-item-url="{{ site.url }}{{product.url }}"
          data-item-price="{{ product.price }}">
          Acheter
        </button>
    </div>
</div>
