@font-face {
	font-family: opensans;
	src: url(../fonts/OpenSans-Light.ttf);
	font-weight: 200;
}
@font-face {
	font-family: opensans;
	src: url(../fonts/OpenSans-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family: opensans;
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: bold;
}
* {
	font-family: opensans;
	font-weight: normal;
}
body {
	background: url(../img/geometry2.png);
}
nav {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background: rgba(220, 220, 220, 0.5);
	width: 100%;
	text-align: center;
}
ul {
	list-style-type: none;
	height: 23px;
}
nav ul li {
	display: inline;
}
nav ul li a {
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 10px;
	font-size: 19px;
	font-weight: normal;
}
nav ul li a:hover {
	border-bottom: 3px solid black;
}
nav ul li a.active {
	color: #FFE000;
}
main {
	position: relative;
	top: 70px;
	padding: 10px;
}
footer {
	background: rgba(220, 220, 220, 0.5);
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	text-align: center;
	font-size: 12px;
	z-index: 999;
}
footer p {
	font-weight: normal;
}
.products {
	width: 100%;
}
.product {
	display: inline-block;
}
.product img {
	width: 200px;
}
.product p {
	text-align: center
}
.product button {
	display: block;
	margin: auto;
}
