<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include snipcart.html %}

    <body>
        <div class="main-flexslider">
            <img id="imageHeader" src="https://sites.google.com/site/cupcakescatrachos/_/rsrc/1410378057989/config/customLogo.gif?revision=1" alt="slide 01">
            <img id="logo" src="{{ site.url }}/assets/img/logo-boutique.png">
            <h1>SweetCake</h1>
        </div>
        
        <div class="container">
            {{content}}
        </div>

    </body>
</html>
